# Lab 02: DataFrames

## #1
Download the planes dataset. Load it into Python and store it in a variable `df`.

In [1]:
import pandas as pd
df = pd.read_csv('planes.csv')

## #2
Print the first few rows of the DataFrame using the `.head()` method of `df`.

In [2]:
df.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

## #3
Take a look at a few attributes of `df`: `.shape`, `.index` and `.columns`. Do the contents of these attributes give you any information about the DataFrame?

In [15]:
df.shape

(3322, 9)

In [9]:
df.index

RangeIndex(start=0, stop=3322, step=1)

In [10]:
df.columns

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')

## #4
Check the data types of the columns of `df`.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 9 columns):
tailnum         3322 non-null object
year            3252 non-null float64
type            3322 non-null object
manufacturer    3322 non-null object
model           3322 non-null object
engines         3322 non-null int64
seats           3322 non-null int64
speed           23 non-null float64
engine          3322 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 233.7+ KB

## #5
Select just the `year` column using `df['year']`.
Store the result in a variable called `year`. Print it out.

In [8]:
year = df['year']
year.head()

0    2004.0
1    1998.0
2    1999.0
3    1999.0
4    2002.0
Name: year, dtype: float64

## #6
What is the type of `year`?

In [14]:
type(year)

pandas.core.series.Series

## #7
Select *both* the `manufacturer` and `model` columns and store the result in a variable called `plane_types`.
Print it out.

In [15]:
plane_types = df[['manufacturer', 'model']]

## #8
What is the type of `plane_types`?
Why is this different from #6?

In [16]:
type(plane_types)

pandas.core.frame.DataFrame

This is different from the above year variable since we select the columns and creating a list of them using double brackets.

## #9
Slice the row at index 105.
What year was this plane made?

In [17]:
df.loc[105]

tailnum                          N13161
year                               2004
type            Fixed wing multi engine
manufacturer                    EMBRAER
model                         EMB-145XR
engines                               2
seats                                55
speed                               NaN
engine                        Turbo-fan
Name: 105, dtype: object

## #10
Filter down the dataset to only planes made by Boeing.
How many rows are left?

In [11]:
dfBoeing = df.loc[df['manufacturer'] == 'BOEING']

In [19]:
dfBoeing.shape

(1630, 9)

## #11
In the filtered data from #10, what do you notice about the indexes?
Call the `.reset_index()` method on this data and see what changes.

In [12]:
dfBoeing.reset_index().head()

,index,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,34,N11206,2000.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
1,49,N1200K,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
2,50,N1201P,1998.0,Fixed wing multi engine,BOEING,767-332,2,330,NaN,Turbo-fan
3,51,N12109,1994.0,Fixed wing multi engine,BOEING,757-224,2,178,NaN,Turbo-jet
4,52,N12114,1995.0,Fixed wing multi engine,BOEING,757-224,2,178,NaN,Turbo-jet

## #12
How many planes in the data have fewer than 40 seats?

In [19]:
df.loc[df['seats'] < 40].shape[0]

122

## #13
What is the minimum number of seats of any plane in the data?

In [26]:
df['seats'].describe()

count    3322.000000
mean      154.316376
std        73.654974
min         2.000000
25%       140.000000
50%       149.000000
75%       182.000000
max       450.000000
Name: seats, dtype: float64

## #14
What is the minimum number of seats in any plane made by Boeing?

In [14]:
dfBoeing['seats'].min()

100

## #15
Create a new column in `df` called `seats_per_engine`.
It is defined as number of seats divided by number of engines.

In [11]:
df['seats_per_engine'] = df['seats']/df['engines']

## #16.
What is the average (mean) number of seats per engine in the data?

In [12]:
df['seats_per_engine'].mean() # Average number of seats_per_engine

77.06499598635361

## #17
Create a subset of the data, containing only planes manufactured by Cessna.
Select all the columns *except* manufacturer (since we know they're all Cessna).
Export the data as a CSV called "cessna_planes.csv".

In [24]:
dfCessna = df.loc[df['manufacturer'] == 'CESSNA', df.columns != 'manufacturer']

In [25]:
dfCessna.reset_index()

,index,tailnum,year,type,model,engines,seats,speed,engine,seats_per_engine
0,424,N201AA,1959.0,Fixed wing single engine,150,1,2,90.0,Reciprocating,2.0
1,427,N202AA,1980.0,Fixed wing multi engine,421C,2,8,90.0,Reciprocating,4.0
2,893,N364AA,1973.0,Fixed wing multi engine,310Q,2,6,167.0,Reciprocating,3.0
3,1027,N378AA,1963.0,Fixed wing single engine,172E,1,4,105.0,Reciprocating,4.0
4,1476,N519AA,1979.0,Fixed wing multi engine,550,2,8,NaN,Turbo-fan,4.0
5,1480,N519MQ,1983.0,Fixed wing single engine,A185F,1,6,127.0,Reciprocating,6.0
6,1725,N575AA,1963.0,Fixed wing single engine,210-5(205),1,6,NaN,Reciprocating,6.0
7,1883,N621AA,1975.0,Fixed wing single engine,172M,1,4,108.0,4 Cycle,4.0
8,2309,N737MQ,1977.0,Fixed wing single engine,172N,1,4,105.0,Reciprocating,4.0

In [33]:
dfCessna.to_csv('Cessna.csv')