# Lab 06: Reshaping

## #1
Load in the flights data that we've used before.

In [1]:
import pandas as pd

In [46]:
flights = pd.read_csv('data/flights.csv')

## #2
Using a pivot table, find the median flight time to go from each origin to each destination.
Save that resulting pivot table in a variable called "pivoted_df".

In [47]:
pivoted_df = flights.pivot_table(columns = 'origin',
                                index = 'dest',
                                values = 'air_time',
                                aggfunc = 'median')
print(pivoted_df)

origin    EWR    JFK    LGA
dest
ABQ       NaN  246.0    NaN
ACK       NaN   41.0    NaN
ALB      31.0    NaN    NaN
ANC     414.5    NaN    NaN
ATL     111.0  111.0  112.0
AUS     210.0  212.0    NaN
AVL      89.0    NaN   91.5
BDL      25.0    NaN    NaN
BGR       NaN    NaN   54.0
BHM       NaN  117.0  121.0
BNA     113.0  116.0  112.0
BOS      40.0   38.0   37.0
BQN     196.0  194.0    NaN
BTV      46.0   47.0   42.0
BUF      51.0   57.0   50.0
BUR       NaN  334.0    NaN
BWI      37.0   38.0   40.0
BZN     256.0    NaN    NaN
CAE      90.0    NaN   99.5
CAK       NaN    NaN   63.0
CHO       NaN    NaN   50.0
CHS      94.0   94.0   91.0
CLE      66.0   76.5   69.0
CLT      83.0   86.0   85.0
CMH      75.0   76.0   77.0
CRW       NaN    NaN   74.0
CVG      95.0   95.0   93.0
DAY      85.0    NaN   84.0
DCA      42.0   48.0   44.0
DEN     224.0  227.0  227.0
...       ...    ...    ...
PIT      56.0   66.0   57.0
PSE       NaN  201.0    NaN
PSP       NaN  330.5    NaN
PVD      32.0    NaN    NaN
PWM      48.0   48.0   44.0
RDU      69.0   71.0   70.0
RIC      53.0   56.0   54.0
ROC      45.0   51.0   45.0
RSW     155.0  159.0  159.0
SAN     325.0  325.0    NaN
SAT     219.0  216.5    NaN
SAV     106.0    NaN  102.0
SBN      93.0    NaN   94.5
SDF     105.0  103.0  105.0
SEA     325.0  328.0    NaN
SFO     342.0  347.0    NaN
SJC       NaN  347.0    NaN
SJU     200.0  196.0    NaN
SLC     271.0  274.0    NaN
SMF       NaN  337.0    NaN
SNA     329.0    NaN    NaN
SRQ       NaN  151.0  150.0
STL     133.0  129.0  132.0
STT     205.0  202.0    NaN
SYR      39.0   44.0   38.0
TPA     142.0  143.0  144.0
TUL     176.0    NaN    NaN
TVC      95.0    NaN   93.0
TYS      96.0    NaN   96.0
XNA     165.0    NaN  171.0

[104 rows x 3 columns]

## #3
Experiment with the `.dropna` method -- consult its documentation using the `?`.
Use it to drop destinations in your result from #2 where at least one value is `NaN`.
Store this "cleaned" DataFrame in a variable called "clean_df".
- destinations may be either rows or columns depending on how you did #2

In [48]:
pivoted_df_na = pivoted_df.dropna(how = 'any', axis = 0)

In [34]:
pivoted_df_na.shape

(42, 3)

## #4
Using your result from #3, extract the destination airport codes as a list.
What is the context of these airport codes?
i.e. When might it be helpful to have prepared a list of these airport codes?

In [25]:
pivoted_df_na.head()

origin    EWR    JFK    LGA
dest
ATL     111.0  111.0  112.0
BNA     113.0  116.0  112.0
BOS      40.0   38.0   37.0
BTV      46.0   47.0   42.0
BUF      51.0   57.0   50.0

In [27]:
pivoted_df_na = pivoted_df_na.reset_index()
pivoted_df_na.columns
dest_list = pivoted_df_na['dest'].values.tolist()
dest_list

['ATL',
 'BNA',
 'BOS',
 'BTV',
 'BUF',
 'BWI',
 'CHS',
 'CLE',
 'CLT',
 'CMH',
 'CVG',
 'DCA',
 'DEN',
 'DFW',
 'DTW',
 'FLL',
 'HOU',
 'IAD',
 'IAH',
 'IND',
 'JAX',
 'MCI',
 'MCO',
 'MEM',
 'MIA',
 'MKE',
 'MSP',
 'MSY',
 'ORD',
 'ORF',
 'PBI',
 'PHL',
 'PIT',
 'PWM',
 'RDU',
 'RIC',
 'ROC',
 'RSW',
 'SDF',
 'STL',
 'SYR',
 'TPA']

In [29]:
type(dest_list)

list

## #5
Reload the planes data that we've used before.

In [35]:
planes = pd.read_csv('data/planes.csv')

## #6
Melt this data, using all columns except tailnum as your value variables.
Use tailnum as your identifier.
Store the result as "melted_df".

In [23]:
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [39]:
melted_df = planes.melt(id_vars = ['tailnum'],
                       value_vars = ['year', 'type', 'manufacturer', 'model', 'engines', 'seats','speed', 'engine'])

In [38]:
melted_df.head()

  tailnum variable value
0  N10156     year  2004
1  N102UW     year  1998
2  N103US     year  1999
3  N104UW     year  1999
4  N10575     year  2002

## #7
Use the .pivot method to "widen" the data from #6 and put it back in the form it started in.

In [44]:
widen_df = melted_df.pivot(index = 'tailnum', 
                           columns = 'variable',
                           values = 'value')
widen_df.head()

variable,engine,engines,manufacturer,model,seats,speed,type,year
tailnum,,,,,,,,
N10156,Turbo-fan,2,EMBRAER,EMB-145XR,55,NaN,Fixed wing multi engine,2004
N102UW,Turbo-fan,2,AIRBUS INDUSTRIE,A320-214,182,NaN,Fixed wing multi engine,1998
N103US,Turbo-fan,2,AIRBUS INDUSTRIE,A320-214,182,NaN,Fixed wing multi engine,1999
N104UW,Turbo-fan,2,AIRBUS INDUSTRIE,A320-214,182,NaN,Fixed wing multi engine,1999
N10575,Turbo-fan,2,EMBRAER,EMB-145LR,55,NaN,Fixed wing multi engine,2002

#### Challenge Questions
1. Using your result from #3 again, run the following code:
    - If your row labels (index) are **origin** airport: `clean_df.reset_index().melt(id_vars='origin', value_name='air_time').dropna()`
    - If your row labels are **dest**ination airport: `clean_df.reset_index().melt(id_vars='dest', value_name='air_time').dropna()`

2. Can you replicate the values in this resulting DataFrame using the original flights data and and performing a groupby and aggregate?
    - *Hint: passing `as_index=False` to `.groupby` will keep pandas from moving your grouping columns into the index, making your result look more like the data from #1.*

3. Do you have any intuition as to why this works?

In [53]:
pivoted_df_na.reset_index().melt(id_vars='dest', value_name='air_time').dropna().head()

  dest origin  air_time
0  ATL    EWR     111.0
1  BNA    EWR     113.0
2  BOS    EWR      40.0
3  BTV    EWR      46.0
4  BUF    EWR      51.0

In [55]:
flights.groupby(by = ['dest', 'origin'], as_index = False).agg({'air_time' : ['median']}).head()

  dest origin air_time
                median
0  ABQ    JFK    246.0
1  ACK    JFK     41.0
2  ALB    EWR     31.0
3  ANC    EWR    414.5
4  ATL    EWR    111.0

In both cases, the aggregation type is median. It's calculated at dest, origin level in 1st case using pivot and second case using group by.