# Lab 09: Applying Functions to DataFrames

## #1
Write a transforming function implementing the formula `y = 5x - 2`

In [1]:
def equation(x):
    y = 5 * x - 2
    return y

In [2]:
equation(10)

48

## #2
Create a numeric Pandas Series using the `pd.Series` call we've seen before. Use values of your choice.

In [27]:
import pandas as pd
a = pd.Series([1, 2, 3, 4, 5])

## #3
Apply your transforming function from #1 to this Series.

In [8]:
a.apply(equation)

0     3
1     8
2    13
3    18
4    23
dtype: int64

## #4
Repeat #3, but apply `y = 5x - 2` as a lambda function instead of a *named* function.

In [10]:
a.apply(lambda x:5 * x - 2)

0     3
1     8
2    13
3    18
4    23
dtype: int64

## #5
Apply this lambda function to your Series: `lambda x: [x, x + 1]`.
What type of data is now in each element?
Why did that happen?

In [28]:
a.apply(lambda x: [x, x+1])

0    [1, 2]
1    [2, 3]
2    [3, 4]
3    [4, 5]
4    [5, 6]
dtype: object

The lambda function transforms each element in series to a list.

## #6
Open the flights data.
Create and apply a function such that the result is a Series with one element for each row.
*Hint: take a look at the chart from lecture.*

In [3]:
import pandas as pd
flights = pd.read_csv('data/flights.csv')

In [6]:
flights.apply(lambda x: x[0], axis=0)

year                             2013
month                               1
day                                 1
dep_time                          517
sched_dep_time                    515
dep_delay                           2
arr_time                          830
sched_arr_time                    819
arr_delay                          11
carrier                            UA
flight                           1545
tailnum                        N14228
origin                            EWR
dest                              IAH
air_time                          227
distance                         1400
hour                                5
minute                             15
time_hour         2013-01-01 05:00:00
dtype: object

In [7]:
type(flights.apply(lambda x: x[0], axis=0))

pandas.core.series.Series

## #7
Create a function that takes in a row (a Series) and returns a string with "carrier" and "flight" combined together into one, separated by a dash. I.e. running your function on the first row should yield "UA-1545".

In [8]:
flight_merge = lambda x: str(x['carrier']) + '-' + str(x['flight'])
flights.apply(flight_merge, axis=1).head()

0    UA-1545
1    UA-1714
2    AA-1141
3     B6-725
4     DL-461
dtype: object

## #8
Apply your function from #7 to every row, and use it to create a new column "carrier_flight_code".

In [9]:
def flightcarrier(row):
    return str(row['carrier']) + '-' + str(row['flight'])
flights['carrier_flight_code'] = flights.apply(flightcarrier, axis=1)
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,carrier_flight_code
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,UA-1545
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,UA-1714
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,AA-1141
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,B6-725
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,DL-461

## #9
Suppose we learn that there are some systematic errors in the data. "dep_delay" is understated by two minutes for all flights leaving from LGA and overstated by 1 minutes for flights leaving from EWR.
It's correct for flights leaving from JFK.
Use a custom function and an `apply` to create a new column, "real_dep_delay", adjusting for these inaccuracies.

In [19]:
def adj_dep_delay(row):
    if row['origin'] == 'LGA':
        return row['dep_delay'] + 2
    elif row['origin'] == 'EWR':
        return row['dep_delay'] - 1
    else:
        return row['dep_delay']
flights['adj_dep_delay'] = flights.apply(adj_dep_delay, axis = 1)
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,carrier_flight_code,adj_dep_delay
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,UA-1545,1.0
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,UA-1714,6.0
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,AA-1141,2.0
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,B6-725,-1.0
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,DL-461,-4.0

## #10
Subset your flights data to the first 10,000 rows -- the next question is fairly computationally intense, and this will make it run faster.

In [20]:
flights_sub = flights.head(10000)

## #11
You've been assigned to summarize the data in a very particular way:
get the modal value of columns whose names start with "dep", and get the mean value of columns whose names start with "arr".
Do this using an applied function.
*Hint: remember you can check the name of a Series using its `.name` attribute*

In [25]:
def summary_mm(column):
    if column.name.startswith("dep"):
        return column.mode()
    if column.name.startswith("arr"):
        return column.mean()
flights_sub.apply(summary_mm, axis=0)

year                           None
month                          None
day                            None
dep_time                    [556.0]
sched_dep_time                 None
dep_delay              [-5.0, -4.0]
arr_time                    1518.14
sched_arr_time                 None
arr_delay                  0.710423
carrier                        None
flight                         None
tailnum                        None
origin                         None
dest                           None
air_time                       None
distance                       None
hour                           None
minute                         None
time_hour                      None
carrier_flight_code            None
adj_dep_delay                  None
dtype: object

## #12
How could you have done this without `apply`?
There are a few ways.
Are any as concise as `apply`?

In [24]:
summary_mm2 = {}
for column in flights_sub.columns:
    if column.startswith("dep"):
        summary_mm2[column] = list(flights_sub[column].mode())
    if column.startswith("arr"):
        summary_mm2[column] = flights_sub[column].mean()
summary_mm2

{'dep_time': [556.0],
 'dep_delay': [-5.0, -4.0],
 'arr_time': 1518.1392914653784,
 'arr_delay': 0.7104227625870245}

Apply seems to be more concise, since the other ways could be time consuming and iterative through all the columns.