# Lab 08: Functions

## #1
The formula for the circumference of a circle is *2 * pi * radius*.
Write a function, `calculate_circumference`, that accepts a `radius` argument and returns the circumference of a circle with that radius.
*Hint: use `pi` from the `math` library.*

In [53]:
import math as mt
import pandas as pd

In [20]:
def calculate_circumference(r):
    print(2 * mt.pi * r)

In [9]:
calculate_circumference(5)

31.41592653589793

## #2
Update your function from #1 -- make the radius parameter default to 1.

In [22]:
def calculate_circumference_1(r = 1):
    print(2 * mt.pi * r)

In [14]:
calculate_circumference_1()

6.283185307179586

## #3
Create a list, `radii`, `[4, 83, 3.7, 9]`.
Loop over these elements and use your function from #1 to check the circumference for each radius in that list.

In [18]:
radii = [4, 83, 3.7, 9]

In [21]:
for item in radii:
    calculate_circumference(item)

25.132741228718345
521.5043804959057
23.24778563656447
56.548667764616276

## #4
Rewrite your function from #1 (without a default argument) as a lambda function.

In [23]:
circumference = lambda r: 2 * mt.pi * r

In [24]:
circumference(5)

31.41592653589793

## #5
Repeat #3, but using your lambda function instead.
Is anything different about your results?

In [47]:
for item in radii:
    print(circumference(item))

25.132741228718345
521.5043804959057
23.24778563656447
56.548667764616276

No difference in results.

## #6
Create a function `caller` that accepts two arguments: `func` and `target`.
Implement the body of `caller` so that it takes calls the input function (`func`) on the input target (`target`) and returns the result.
e.g. `caller(type, 7)` would be the same as `type(7)`, returning `int`.

In [43]:
def caller(func, target):
    return func(target)

In [64]:
caller(type, 10.5)

float

In [62]:
caller(len, [1,2])

2

## #7
Create a function, `nan_filler`, that takes as arguments a DataFrame and a scalar value. Implement it to return a copy of that DataFrame with all `NaN`s replaced with the scalar value.

In [49]:
def nan_filter(df, val):
    df = df.fillna(value = val)
    return df

In [66]:
df = pd.read_csv('data/rooms_test.csv')
df.head()

   length  width  square_footage
0     8.0     10             NaN
1     NaN      9           108.0
2    11.0     11           121.0

In [67]:
nan_filter(df,500)

   length  width  square_footage
0     8.0     10           500.0
1   500.0      9           108.0
2    11.0     11           121.0

## #8
Copy the below function defintion to your notebook and try calling it with different inputs.
Pass it a single positional argument, several positional arguments, a single keyword argument, several keyword arguments, and then a mix of positional and keyword arguments.
Form a hypothesis about how `*args` and `**kwargs` work.
```python
def weird_func(*args, **kwargs):
    print('args', args)
    print('kwargs', kwargs)
```

In [48]:
def weird_func(*args, **kwargs):
    print('args', args)
    print('kwargs', kwargs)

In [68]:
weird_func(2,3,4,5,'df','abc')

args (2, 3, 4, 5, 'df', 'abc')
kwargs {}

In [69]:
weird_func(1,2)

args (1, 2)
kwargs {}

In [70]:
weird_func(a = 3, b = 4)

args ()
kwargs {'a': 3, 'b': 4}

In [71]:
weird_func(45, b = 23)

args (45,)
kwargs {'b': 23}

In [72]:
weird_func(3,5,6,7,a=32,n=456,v='sfd')

args (3, 5, 6, 7)
kwargs {'a': 32, 'n': 456, 'v': 'sfd'}

All the positional arguments are passed via args while keyword arguments are taken by kwargs. They can accept variable number of arguments in a function.